.back-office-list {
  font-size: 13px;
  .back-office {
    grid-template-columns: 83px 80px 72px 63px 82px;
    display: grid;
    grid-template-rows: 50px;
    align-items: center;
    gap: 5px;
  }

  .back-office-preview {
    grid-template-columns: 81px 82px 71px 68px 34px;;
    grid-template-rows: 50px;
    display: grid;
    margin-inline-start: -5px;
    border-bottom: 0.01px solid #04040421;
    align-items: center;
    gap: 5px;
    .status-prev {
      width: 74px;
      // padding-left: 6px;
      // border-radius: 3px;
      padding-left: 4px;
      padding-top: 5px;
      color: white;
      letter-spacing: 0.5px;
      border-radius: 5px;
      &.admin {
        width: 73px;
        padding-top: 6px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
      }
      span {
        cursor: pointer;
      }
      .scroll-opt {
        width: 116px;
        height: 122px;
        background-color: #dcdce2;
        position: absolute;
        right: -12px;
        top: 26.3px;
        z-index: 20;
        border-radius: 4px;
        .evaluation {
          cursor: pointer;
          width: 90%;
          height: 26px;
          margin: auto;
          background-color: orange;
          border-radius: 2px;
          h4 {
            text-align: center;
            margin-top: 11px;
          }
        }
      }
      &.pending {
        background: #fbaf3c;
      }
      &.aproved {
        background: #8fd26f;
      }
      &.rejected {
        background: #ff6664;
      }
    }
    .gusest-prev {
      justify-self: center;
    }
  }
}

@media (min-width: 550px) {
  .back-office-list {
    font-size: 16px;
    .back-office {
      grid-template-columns: 500px 115px 130px 130px 130px;
      gap: 12px;
    }
    .back-office-preview {
      grid-template-columns: 490px 125px 130px 130px 60px;
      gap: 12px;
      .status-prev {
        &.admin {
          width: 104px;
        }
        .scroll-opt {
          width: 105px;
          right: 0px;
          top: 32.3px;
        }
      }
    }
  }
}
