.back-office-list {
  .back-office {
    display: grid;
    grid-template-columns: 500px 115px 130px 130px 130px;
    grid-template-rows: 50px;
    align-items: center;
    gap: 12px;
  }

  .back-office-preview {
    grid-template-columns: 495px 121px 130px 130px 60px;
    grid-template-rows: 50px;
    display: grid;
    margin-inline-start: -5px;
    border-bottom: 1px solid lawngreen;
    align-items: center;
    gap: 12px;
    .status-prev {
      width: 74px;
      padding-left: 6px;
      border-radius: 3px;
      color: white;
      letter-spacing: 0.5px;
      &.admin {
        width: 104px;
        padding-top: 6px;
        letter-spacing: 0.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: relative;
      }
      span {
        cursor: pointer;
      }
      .scroll-opt {
        width: 104px;
        height: 200px;
        background-color: blue;
        position: absolute;
        right: 0px;
        top: 35.7px;
        z-index: 20;
      }
      &.pending {
        background: orange;
      }
      &.aproved {
        background: rgb(28, 189, 50);
      }
      &.rejected {
        background: rgb(255, 60, 0);
      }
    }
    .gusest-prev {
      justify-self: center;
    }
  }
}
