.custom-date-picker {
  border: #878787 1px solid;
  font-family: 'Poppins', sans-serif;
  width: 500px;
  background: #fff;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  z-index: 20;
  margin-bottom: 50px;

  header {
    margin-top: 80px;
    display: flex;
    // align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
    .current-date {
      font-size: 1rem;
      font-weight: 600;
    }
    .icons {
      display: flex;
      span {
        border-radius: 50%;
        color: #878787;
        font-size: 1.45rem;
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin: 0 1px;
        text-align: center;
        line-height: 38px;
        display: grid;
        place-content: center;
        &:last-child {
          margin-right: -10px;
        }
        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }

  .calender {
    padding: 20px;
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      margin: 0;
      li {
        position: relative;
        width: calc(100% / 7);
      }
    }
    .weeks {
      li {
        font-weight: 550;
      }
    }
    .days {
      margin-bottom: 20px;
      li {
        cursor: pointer;
        z-index: 1;
        margin-top: 30px;

        &:hover {
          &::before {
            background-color: #f2f2f2;
          }
        }
        &::before {
          position: absolute;
          content: '';
          height: 40px;
          width: 40px;
          top: 50%;
          left: 50%;
          z-index: -1;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }
        &.inactive {
          color: #aaa;
        }
        &.busy{
          text-decoration: line-through;
        }
        &.range {
          background: #c0f6c8;
          &.first {
            border-radius: 10px 0 0 10px;
          }
          &.last {
            border-radius: 0 10px 10px 0;
          }
          &.one {
            border-radius: 10px;
          }
        }

        &.active {
          color: #fff;
          &::before {
            background: #59b669;
          }
        }
      }
    }
  }
  .clear-calender{
    margin-left: 200px;
    /* margin-bottom: 10px; */
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    display: block;
    width: 100px;
    height: 40px;
    /* margin: 10px 0px; */
    border-radius: 10px;
    background-color: #59b669;
}

    
  
}
